<launch>
    <arg name="ctrl_level" default="highlevel"/>

    <node pkg="unitree_legged_control" type="ros_udp_walk" name="node_ros_walk" output="screen" args="$(arg ctrl_level)"/>

   <!--<node pkg = "rosbag" type = "record" name = "a1bag" args = "-O /root/src/unitree_legged_control/unitree_legged_control/launch/bagfiles/a1bag.bag low_state/imu"/>-->

    <param name="control_level" value="$(arg ctrl_level)"/>
</launch>